body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;

}

* {
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}

.topBanner {
    justify-content: center;
    align-items: center;
}

hr {
    border-top: 10px lightgray dotted;
    border-bottom: none;
    border-right: none;
    border-left: none;
    width: 20%;
}

.bottomBar {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.submitButton {
    color: black;

}

.table {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 100%;
}

.listWorkAndExperience {
    display: none;
    grid-template-columns: 3fr 0.5fr 2fr 0.5fr 60%;
    max-width: 100%;
}

.mainSection {
    /* border: 1px grey solid; */
}

h3 {
    text-align: center;
}

.listSkills {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.listBooksAndTeaching {
    display: none;
    grid-template-columns: 30% 5% 65%;
    justify-content: center;
}

.titleBooksAndTeaching, .titleWorkExperience, .titleSkills {
    cursor: pointer;
}