body {
    background-color: black;
    
}

* {
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}
.ListTable  th {
    text-align: left;
}
/* hr {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 5px;
    border-style: dotted;
} */