body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    
}

* {
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}
.topBanner {
    justify-content: center;
}
.tableWorkExperience {
    /* text-align: center; */
}

.bottomBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submitButton {
    color: black;
    
}

.table {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 100%;
}

.listWorkAndExperience {
    display: grid;
        grid-template-columns: 2fr 1fr 2fr 1fr 70%;
        max-width: 100%;
}

.mainSection {
    border: 1px grey solid;
}
h3 {
    text-align: center;
}

.listSkills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.listBooksAndTeaching {
    display: grid;
    grid-template-columns: 30% 5% 65%;
}